<!DOCTYPE html>
<html>
<head>
    <title>Agregar Guardia</title>
</head>
<body>
    <h1>Agregar Guardia</h1>
    <form method="post" action="{% url 'cargar_guardia' %}">
        {% csrf_token %}
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required><br>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea><br>
        <button type="submit">Agregar Guardia</button>
    </form>
</body>
</html>
