{% extends "OhMyDogApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1 style="text-align: center; margin-top:10px; margin-bottom:20px;">Cargar Campaña</h1>
<div class="container" style="background-color: #e9ecef; border-radius: 10px; padding: 20px; max-width: 800px;">
  <form method="post">
    {% csrf_token %}
    <div style="width: 100%; margin: auto;">
      {{ form|crispy }}
      <button type="submit" class="btn btn-success" id="btn-guardar">Guardar</button>
    </div>
  </form>
</div>

<script>
    function validarFormulario() {
        var nombre = document.getElementById('id_nombre').value;
        var motivo = document.getElementById('id_motivo').value;
        var objetivo = document.getElementById('id_objetivo').value;
        var fechaInicio = document.getElementById('id_fechaInicio').value;
        var fechaFin = document.getElementById('id_fechaFin').value;

        if (nombre.trim() === '' || motivo.trim() === '' || objetivo.trim() === '' || fechaInicio.trim() === '' || fechaFin.trim() === '') {
            alert('Por favor, complete todos los campos.');
            return false;
        }

        var today = new Date().setHours(0, 0, 0, 0); // Get today's date without the time
        if (new Date(fechaInicio).setHours(0, 0, 0, 0) < today) {
            alert('La fecha de inicio debe ser hoy o posterior.');
            return false;
        }
        if (new Date(fechaInicio) > new Date(fechaFin)) {
            alert('La fecha de inicio no puede ser futura a la fecha de fin');
            return false;
        }
        
        if(objetivo < 1){
          alert('El objetivo no puede ser $0');
            return false;
        }

        return true;
    }

    var formInputs = document.querySelectorAll('input[type="text"], input[type="number"], input[type="date"]');
    var btnGuardar = document.getElementById('btn-guardar');
    
    formInputs.forEach(function (input) {
      input.addEventListener('input', function () {
        validarCampos();
      });
    });

    function validarCampos() {
        var nombre = document.getElementById('id_nombre').value;
        var motivo = document.getElementById('id_motivo').value;
        var objetivo = document.getElementById('id_objetivo').value;
        var fechaInicio = document.getElementById('id_fechaInicio').value;
        var fechaFin = document.getElementById('id_fechaFin').value;

        var isFormValid =
            nombre.trim() !== '' &&
            motivo.trim() !== '' &&
            objetivo.trim() !== '' &&
            fechaInicio.trim() !== '' &&
            fechaFin.trim() !== '';
        
        if (new Date(fechaInicio) > new Date(fechaFin)) {
            isFormValid = false;
        }
        var today = new Date().setHours(0, 0, 0, 0); // Get today's date without the time
        if (new Date(fechaInicio).setHours(0, 0, 0, 0) < today) {
            isFormValid = false;
        }

        if(objetivo < 1){
          isFormValid = false;
        }

        btnGuardar.disabled = !isFormValid;
    }

    // Validar campos al cargar la página
    validarCampos();
</script>
{% endblock %}
