{% extends "OhMyDogApp/base.html" %}
{% load leaflet_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <style>
        .formulario-ampliado {
            width: 100%;
            max-width: 800px; /* Ajusta el ancho máximo del formulario según tus necesidades */
            margin: 0 auto; /* Centra el formulario horizontalmente */
        }
    </style>    
</head>
<h1 style="text-align: center; padding: 50px;">Editar Servicio de Terceros</h1>
<div class="container">
    <div class="card-deck">
        <div class="col-md-4 mb-4 formulario-ampliado">
            <div class="card h-100">
                <div class="card-body">
                    <div class="listing-heading text-center">
                        <h5 class="card-title">Perfil</h5>
                    </div>
                    <form method="post" action="" style="color: black;">
                        {% csrf_token %}
                        <p class="card-text">
                            <i class="fa-solid fa-user" style="color: #e4a64e;"></i>
                            Nombre*: {{ form.nombre }}
                            <p>
                                {% for error in form.nombre.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </p>
                        </p>
                        <hr>
                        <p class="card-text">
                            <i class="fa-solid fa-user" style="color: #e4a64e;"></i>
                            Descripción*: {{ form.descripcion }}
                            <p>
                                {% for error in form.descripcion.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </p>
                        </p>
                        <hr>
                        <p class="card-text">
                            <i class="fa-solid fa-phone-volume" style="color: #e4a64e;"></i>
                            Tel&eacute;fono*: {{ form.telefono }}
                            <p>
                                {% for error in form.telefono.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </p>
                        </p>
                        <hr>
                        <p class="card-text">
                            <i class="fa-solid fa-phone-volume" style="color: #e4a64e;"></i>
                            Tipo*: {{ form.tipo }}
                        </p>
                        <hr>
                        <!-- Agrega los campos adicionales aquí -->
                        <p class="card-text">
                            <i class="fa-solid fa-clock" style="color: #e4a64e;"></i>
                            Horario*: {{ form.horario }}
                            <p>
                                {% for error in form.horario.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </p>
                        </p>
                        <hr>
                        <p class="card-text">
                            <i class="fa-solid fa-map-marker-alt" style="color: #e4a64e"></i>
                            Ubicación*: <div id="id_ubicacion-map" style="width: 700px; height: 400px;">{{ form.ubicacion }}</div>
                            <p>
                                {% for error in form.ubicacion.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </p>
                        </p>
                        <hr>
                        <button type="submit" id="btn-registrar" class="btn btn-primary">Guardar cambios</button>
                    </form>
                    <a href="/servicios/listar_personal/" class="btn btn-primary">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function validarFormulario() {
      var form = document.getElementById('personal-form');
      
      // Verificar si algún campo está vacío o contiene caracteres no permitidos
      var inputs = form.querySelectorAll('input, select');
      for (var i = 0; i < inputs.length; i++) {
        var input = inputs[i];
        if (input.value.trim() === '') {
          alert('Por favor, complete todos los campos.');
          return false;
        }

        var regexLetras = /^[a-zA-Z\s]*$/;
        if (input.id === 'id_nombre' && !regexLetras.test(input.value.trim())) {
          alert('El campo "nombre" solo puede contener letras.');
          return false;
        }
      }
      
      // Habilitar o deshabilitar el botón de guardar según la validez del formulario
      var btnGuardar = document.getElementById('btn-registrar');
      btnGuardar.disabled = !form.checkValidity();
      
      // El formulario es válido, realiza cualquier otra acción necesaria
      return true;
    }

    // Validar campos en tiempo real
    var formInputs = document.querySelectorAll('input[type="text"], select');
    var btnGuardar = document.getElementById('btn-registrar');

    formInputs.forEach(function (input) {
      input.addEventListener('input', function () {
        validarCampos();
      });
    });

    function validarCampos() {
      var isFormValid = Array.from(formInputs).every(function (input) {
        return input.checkValidity();
      });

      var regex = /^[a-zA-Z\s]*$/; // Expresión regular para solo letras y espacios
      if (!regex.test(document.getElementById('id_nombre').value)) {
        isFormValid = false;
      }

      btnGuardar.disabled = !isFormValid;
    }

    // Validar campos al cargar la página
    validarCampos();
  </script>
{% endblock %}
