{% extends "OhMyDogApp/base.html" %}
{% load static %}

{% block content %}
  <head>
    <meta charset='utf-8' />
    <link href="{% static 'OhMyDogApp/fullcalendar/lib/main.css' %}" rel="stylesheet" />
    <script src="{% static 'OhMyDogApp/fullcalendar/lib/main.js' %}"></script>
    <script src="{% static 'OhMyDogApp/fullcalendar/lib/locales/es.js' %}"></script>
  </head>
  <body>
    <div id="calendar" style="background-color: white;"></div>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Cargar Guardia</button>
    </form>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'es',
          eventColor: 'light-blue',
          eventDisplay: 'list-item',
          events: {% autoescape off %}{{ events|safe }}{% endautoescape %},
          eventContent: function(info) {
            var eventTitle = info.event.title;
            var guardiaId = info.event.id;
            var eventLink = '/servicios/guardias/' + guardiaId + '/editar/';
            return {
              html: '<a href="' + eventLink + '"><div class="fc-event-dot"></div>' + eventTitle + '</a>'
            };
          }
        });
        calendar.render();
      });
    </script>
  </body>
</html>
{% endblock %}
