{% extends "OhMyDogApp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <head>
    <meta charset='utf-8' />
    <link href="{% static 'OhMyDogApp/fullcalendar/lib/main.css' %}" rel="stylesheet" />
    <style>
      .guardia-link {
        text-decoration: none;
        font-size: 15px;
        font-family: Arial, sans-serif;
        white-space: pre-line;
      }
      .fc-event-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #25b6ff;
        margin-right: 5px;
      }

      .fc-day-today {
        background: #f6f1e7 !important;
        border: none !important;
      }
    </style>
    <script src="{% static 'OhMyDogApp/fullcalendar/lib/main.js' %}"></script>
    <script src="{% static 'OhMyDogApp/fullcalendar/lib/locales/es.js' %}"></script>
  </head>
  <body>
    <div id="calendar" style="background-color: white; margin:10px; padding: 10px;">
      <br>
      {% if user.is_staff %}
      <form method="post" style="margin-left:10px; width: 50%; background-color: #c9c9c9; margin-right:10px; padding: 20px; border-radius: 10px;">
        {% csrf_token %}
        {{ form|crispy }}
        <button id="guardiaButton" type="submit" class="btn btn-primary" disabled>Cargar Guardia</button>
      </form>
      {% endif %}
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'es',
          eventColor: 'light-blue',
          eventDisplay: 'list-item',
          height: '900',
          events: {% autoescape off %}{{ events|safe }}{% endautoescape %},
          eventContent: function(info) {
            var eventTitle = info.event.title;
            var guardiaId = info.event.id;
            var eventLink = '/servicios/guardias/' + guardiaId + '/editar/';
            var userIsStaff = {% if user.is_staff %}true{% else %}false{% endif %};

            if (userIsStaff) {
              return {
                html: '<a href="' + eventLink + '" class="guardia-link"><div class="fc-event-dot"></div>' + eventTitle + '</a>'
              };
            } else {
              return {
                html: '<div class="fc-event-dot"></div>' + eventTitle
              };
            }
          },
          headerToolbar: {
            start: '',
            center: 'title',
            right: 'today prev,next',
          },
        });
        calendar.render();
      });

      
      document.addEventListener('DOMContentLoaded', function() {
        var guardiaButton = document.getElementById('guardiaButton');
        var form = document.querySelector('form');

        form.addEventListener('submit', function(event) {
          if (form.elements['fecha'].value === '' || form.elements['veterinaria'].value === '') {
            event.preventDefault();
            return false;
          }
        });

        var fecha = document.getElementById('id_fecha');
        var veterinaria = document.getElementById('id_veterinaria');

        fecha.addEventListener('input', validateFields);
        veterinaria.addEventListener('input', validateFields);

        function validateFields() {
          if (fecha.value !== '' && veterinaria.value !== '') {
            guardiaButton.disabled = false;
          } else {
            guardiaButton.disabled = true;
          }
        }

        validateFields();
      });
    </script>
  </body>
</html>
{% endblock %}
