{% load static %}
<div class="filtro">
  <form method="GET" action="" id='turno-buscar'>
    {% if request.path != '/turnos/listar_confirmados_dia/'%}
      <input type="date" class="search-input" id='fecha-input' name="fecha-consulta" placeholder="Fecha"> 
    {% endif %}
    <select class="search-input" id="atencion-input" name="atencion-consulta" onchange="toggleAtencionOption(this)">
      <option value="" selected hidden>Atención</option>
      <option value="Vacuna antiviral">Vacuna antiviral</option>
      <option value="Vacuna antirrábica">Vacuna antirrábica</option>
      <option value="Desparasitante">Desparasitante</option>
      <option value="Atención Clínica">Atención Clínica</option>
      <option value="Castración">Castración</option>
    </select>
    <input type="text" class="search-input" id='dni-input' name="dni-consulta" placeholder="DNI">
    <input type="text" class="search-input" id='nombre_apellido-input' name="nombre_apellido-consulta" placeholder="Nombre Apellido">
    <button type="submit" id="btn-buscar" class="search-button">Buscar</button>
    <a href="{{request.path}}" class="search-button" style="text-decoration: none;color: white;" id='btn-todos'>Mostrar todos</a>
  </form>
</div>

<script>
  var element = document.getElementById('btn-todos');
  var path = element.getAttribute('href');
  if (!path.includes('dia')) {
    var consultaFecha = document.getElementById('fecha-input');
  }
  var consultaAtencion = document.getElementById('atencion-input');
  var consultaDNI = document.getElementById('dni-input');
  var consultaNomApe = document.getElementById('nombre_apellido-input');
  
  document.addEventListener('DOMContentLoaded', function() {
    var turnoBuscarForm = document.getElementById('turno-buscar');
    var currentUrl = new URL(window.location.href);
    turnoBuscarForm.action = currentUrl.pathname + currentUrl.search;
    // Setea con los parametros previos
    if (!path.includes('dia')) {
      consultaFecha.value = currentUrl.searchParams.get('fecha-consulta') || '';
    }
    consultaAtencion.value = currentUrl.searchParams.get('atencion-consulta') || '';
    consultaDNI.value = currentUrl.searchParams.get('dni-consulta') || '';
    consultaNomApe.value = currentUrl.searchParams.get('nombre_apellido-consulta') || '';
    toggleAtencionOption();
    validarBusqueda();
  });

  var btnBuscar = document.getElementById('btn-buscar');
  var errorText = '';
  if (!path.includes('dia')) {
    consultaFecha.addEventListener('input', validarConsulta);

    consultaFecha.addEventListener('mouseenter', function() {
    if (btnBuscar.disabled) {
      consultaFecha.title = errorText;
    }
    });

    consultaFecha.addEventListener('mouseleave', function() {
      consultaFecha.title = '';
    });
  }
  consultaAtencion.addEventListener('input', validarConsulta);
  consultaDNI.addEventListener('input', validarConsulta);
  consultaNomApe.addEventListener('input', validarConsulta);

  consultaAtencion.addEventListener('mouseenter', function() {
    if (btnBuscar.disabled) {
      consultaAtencion.title = errorText;
    }
  });

  consultaAtencion.addEventListener('mouseleave', function() {
    consultaAtencion.title = '';
  });

  consultaDNI.addEventListener('mouseenter', function() {
    if (btnBuscar.disabled) {
      consultaDNI.title = errorText;
    }
  });

  consultaDNI.addEventListener('mouseleave', function() {
    consultaDNI.title = '';
  });

  consultaNomApe.addEventListener('mouseenter', function() {
    if (btnBuscar.disabled) {
      consultaNomApe.title = errorText;
    }
  });

  consultaNomApe.addEventListener('mouseleave', function() {
    consultaNomApe.title = '';
  });

  function validarBusqueda() {
    var isFormValid = true;

    var numeros = /^[0-9]+$/;
    var regex = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/;

    if(consultaDNI.value === '' && consultaNomApe.value === '' && consultaAtencion.value  === ''){
      isFormValid = false;
    }

    if (!path.includes('dia')) {
      isFormValid = isFormValid || consultaFecha.value !== '';
    }

    if(consultaDNI.value !== ''){
      var dni = consultaDNI.value;
      if (dni.length < 7) {
        errorText = 'Por favor, ingrese un DNI con al menos 7 dígitos.';
        isFormValid = false;
      }

      if (!dni.match(numeros)) {
        errorText = 'Por favor, ingrese un DNI con al menos 7 dígitos.';
        isFormValid = false;
      }
    }
        
    if(consultaNomApe.value !== ''){
      if (!regex.test(consultaNomApe.value)) {
        errorText = 'Por favor, ingrese solo letras (incluyendo acentos) en el campo de consulta.';
        isFormValid = false;
      }
    }

    btnBuscar.disabled = !isFormValid;
  }

  function validarConsulta() {
    validarBusqueda();
  }

  mobiscroll.datepicker('#fecha-input', {
    controls: ['calendar'],
    selectMultiple: true
  });

  function toggleAtencionOption(selectElement) {
    var consultaAtencion = document.getElementById('atencion-input');
    var atencionOption = consultaAtencion.querySelector('option[value=""]');
    var selectedOption = consultaAtencion.value;

    if (selectedOption !== '') {
      atencionOption.hidden = false;
      atencionOption.textContent = '-------';
    } else {
      atencionOption.hidden = true;
      atencionOption.textContent = 'Atención';
    }
  }
</script>