{% extends "OhMyDogApp/base.html" %}
{% load static %}
{% block content %}

<style>
    .homepage-footer2 {
        position: relative;
    }
</style>

<section id="showcase-inner" class="py-5 text-black">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="display-4">Turnos pendientes</h2>
            </div>
        </div>
    </div>
</section>

<!-- Listado -->
<section id="listado" class="py-4">
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div id="msg" class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="card-deck">
            {% if turnos %}
            {% for turno in turnos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <hr>
                        <p class="card-text text-wrap" data-fecha="{{ turno.fecha|date:"d/m/Y" }}"><i class="fa fa-calendar" style="color: #e4a64e;"></i> Fecha: {{ turno.fecha|date }}</p>
                        <hr>
                        <p class="card-text"><i class="fa-solid fa-id-card" style="color: #e4a64e;"></i> Cliente: {{ turno.cliente }}</p>
                        <hr>
                        <p class="card-text"><i class="fa fa-info-circle" style="color: #e4a64e;"></i> Estado: {{ turno.estado.estado }}</p>
                        <hr>
                        <p class="card-text"><i class="fa fa-stethoscope" style="color: #e4a64e;"></i> Tipo de Atención: {{ turno.tipo_atencion.tipo }}</p>
                        <div style="display: flex; flex-direction: column; align-items: center;" class="d-flex flex-column">
                            <form method="POST" action="{% url 'aceptar_solicitud' turno.id %}">
                                {% csrf_token %}
                                <label for="hora_turno_{{ turno.id }}">Seleccione la hora del turno:</label><br>
                                <input type="time" id="hora_turno_{{ turno.id }}" name="hora_turno" required><br><br>
                                <button id="btn-aceptar_{{ turno.id }}" type="submit" class="btn btn-primary btn-block" disabled>Aceptar</button>
                            </form>
                            <form method="POST" action="{% url 'rechazar_solicitud' id_turno=turno.id %}" id="rechazo-form_{{ turno.id }}">
                                {% csrf_token %}
                                <br>
                                <button id="btn-guardar_{{ turno.id }}" type="submit" class="btn btn-primary btn-block" disabled>Rechazar turno</button>
                                <label for="motivo_{{ turno.id }}">Motivo de rechazo:</label><br>
                                <textarea id="motivo_{{ turno.id }}" name="motivo" rows="4" cols="30"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No hay turnos pendientes</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Paginacion -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if turnos.has_other_pages %}
            <ul class="pagination">
                {% if turnos.has_previous %}
                <li class='page-item'>
                    <a href="?page={{turnos.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in turnos.paginator.page_range %}
                {% if turnos.number == i %}
                <li class='page-item active'>
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class='page-item'>
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif%}
                {% endfor %}
                {% if turnos.has_next %}
                <li class="page-item">
                    <a href="?page={{turnos.next_page_number}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

<script>
    const turnos = document.querySelectorAll('.card-body');
    const currentDate = new Date();
    console.log("Fecha Actual: ",currentDate);

    turnos.forEach((turno) => {
        const form = turno.querySelector('form');
        const motivoInput = turno.querySelector('textarea');
        const btnGuardar = turno.querySelector('button[id^="btn-guardar"]');
        const horaInput = turno.querySelector('input[id^="hora_turno"]');
        const btnAceptar = turno.querySelector('button[id^="btn-aceptar"]');

        motivoInput.addEventListener('input', () => {
            if (motivoInput.value.trim() !== '') {
                btnGuardar.disabled = false;
            } else {
                btnGuardar.disabled = true;
            }
        });

        horaInput.addEventListener('input', () => {
            let fechaElement = turno.querySelector("[data-fecha]");
            //fecha en formato dd/mm/yyyy
            let fechaValue = fechaElement.getAttribute("data-fecha");
            let fechaTurno = fechaFormatoDate(fechaValue);

            const selectedTime = horaInput.value.split(':');
            const selectedHour = parseInt(selectedTime[0]);
            const selectedMinutes = parseInt(selectedTime[1]);
            const currentHour = new Date().getHours();
            const currentMinutes = new Date().getMinutes();


            console.log("Fecha Turno: ", fechaTurno);

            if (horaInput.value.trim() === '') {
                btnAceptar.disabled = true;
            } else if (turnoEsHoy(fechaTurno)){
                console.log('ES HOY ES HOY')
                if ((selectedHour < currentHour) ||(selectedHour === currentHour && selectedMinutes <= currentMinutes)) {
                    // hora actual 22, selecciona 21 
                    btnAceptar.disabled = true;
                    console.log('HORARIO ACTUAL:',new Date().getHours(),':',new Date().getMinutes());
                    console.log('HORARIO SELECCIONADA: ', horaInput.value);
                    //alert('La hora selecciona debe ser posterior a la hora actual.');
                } else{
                    btnAceptar.disabled = false;
                }
            }
            else {
                btnAceptar.disabled = false;
            }
        });

        function fechaFormatoDate (fecha){
            // de una fecha dd/mm/yyyy a Date
            let parts = fecha.split('/'); // Split the string by '/'
            let day = parseInt(parts[0], 10);
            let month = parseInt(parts[1], 10) - 1; // Months are zero-based
            let year = parseInt(parts[2], 10);

            return new Date(year, month, day);
        }

        function turnoEsHoy (fechaTurno){
            return (fechaTurno.getDay() === currentDate.getDay() 
            && fechaTurno.getMonth() === currentDate.getMonth() 
            && fechaTurno.getYear() === fechaTurno.getYear())
        }

    });
</script>

{% endblock %}
