{% extends "OhMyDogApp/base.html" %}

{% load static %}

{% block content %}
<section id="showcase-inner" class="py-5 text-black">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="display-4">Turnos confirmados</h2>
        </div>
      </div>
    </div>
  </section>
<!-- Listado -->
<div style="padding: 10px 20px; display: inline-block;">
    <a href= "{% url 'listar_confirmados_dia' %}" class="btn btn-primary btn-block">Turnos del día</a>
</div>
  
{% endblock %}