{% extends "OhMyDogApp/base.html" %}

{% load static %}

{% block content %}
<section id="showcase-inner" class="py-5 text-black">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
        {% if request.path == '/turnos/listar_confirmados_dia/'%}
          <h2 class="display-4">Turnos confirmados del día</h2>
        {% else %}
            <h2 class="display-4">Turnos confirmados</h2>
        {% endif%}
        </div>
      </div>
    </div>
  </section>

<!-- Listado -->
<section id="listado" class="py-4">
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div id="msg-{{ message.tags }}"class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% if turnos %}
            {% include 'filtros_turnos.html' %} 
            {% if request.path != '/turnos/listar_confirmados_dia/'%}
                <!-- Boton para turnos confirmados del día-->
                <div style="padding: 10px 20px; display: inline-block;">
                    <a href= "{% url 'listar_confirmados_dia' %}" class="btn btn-primary btn-block">Turnos del día</a>
                </div>
            {% else %}
                <!-- Boton para turnos confirmados del día-->
                <div style="padding: 10px 20px; display: inline-block;">
                    <a href= "{% url 'listar_turnos_confirmados' %}" class="btn btn-primary btn-block">Turnos Confirmados</a>
                </div>
            {% endif %}
            <div class="card-deck">
                {% for turno in turnos %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <hr>
                                <p class="card-text text-wrap"><i class="fa fa-calendar" style="color: #e4a64e;"></i> Fecha: {{ turno.fecha|date:"d/m/Y" }}</p>
                                <hr>
                                <p class="card-text text-wrap"><i class="fa-solid fa-clock" style="color: #e4a64e;"></i> Hora: {{ turno.fecha|time:"H:i"}}</p>
                                <hr>
                                <p class="card-text"><i class="fa-solid fa-id-card" style="color: #e4a64e;"></i> Cliente: {{ turno.cliente }}</p>
                                <hr>
                                <p class="card-text"><i class="fa-solid fa-dog" style="color: #e4a64e;"></i> Mascota: {{ turno.perro }}</p>
                                <hr>
                                <p class="card-text"><i class="fa fa-info-circle" style="color: #e4a64e;"></i> Estado: {{ turno.estado.estado }}</p>
                                <hr>
                                <p class="card-text"><i class="fa fa-stethoscope" style="color: #e4a64e;"></i> Tipo de Atenci&oacute;n: {{ turno.tipo_atencion.tipo }}</p>
                                <hr>
                                <div style="display: flex; flex-direction: column; align-items: center;"class="d-flex flex-column">
                                    <a href= "{% url 'perros:Listar_mascotas_cliente' turno.cliente_id  %}" class="btn btn-primary btn-block">Registrar Atención</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>    
            {% else %}
            <div id="sin-resultados">
            {% if request.path == '/turnos/listar_confirmados_dia/'%}
                <p>No hay turnos confirmados del día</p>
            {% else %}
                <p>No hay turnos confirmados</p>
            {% endif %}
            </div>
        {% endif %} 
    </div>
    <!-- Paginacion -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% if turnos.has_other_pages %}
                <ul class="pagination">
                    {% if turnos.has_previous %}
                        <li class='page-item'>
                            <a href="?page={{turnos.previous_page_number}}" class="page-link">&laquo;
                            </a> 
                        </li>
                    {% else %}
                        <li class= "page-item disabled">
                            <a class="page-link">&laquo;
                            </a> 
                        </li>
                    {% endif %}
                    {% for i in turnos.paginator.page_range %}
                        {% if turnos.number == i %}
                            <li class='page-item active'>
                                <a class="page-link">{{i}}</a> 
                            </li>
                        {% else %}
                            <li class='page-item'>
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                        {% endif%}
                    {% endfor %}
                    {% if turnos.has_next %}
                        <li class="page-item">
                            <a href="?page={{turnos.next_page_number}}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}