{% extends 'OhMyDogApp/base.html' %}

{% block content %}
  <h1>Solicitar turno</h1>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <div id="msg-{{ message.tags }}"class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
          {% endfor %}
      </ul>
    {% endif %}
  <form method="post" id="solicitar-turno-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.fecha.id_for_label }}">Fecha*:</label>
      {{ form.fecha }}
    </div>

    <div class="form-group">
      <label for="{{ form.tipo_atencion.id_for_label }}">Tipo de Atención*:</label>
      {{ form.tipo_atencion }}
    </div>

    <div class="form-group">
      <label for="{{ form.perro.id_for_label }}" style="display: inline-block; margin-right: 10px;">Perro*:</label>
      <select name="{{ form.perro.name }}" class="selector">
        <!--<option value="">-------</option>  Por si es opcional elegir un perro--> 
        {% for option in form.perro.field.choices %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group-descripcion">
      <label for="{{ form.descripcion.id_for_label }}">Descripcion*:</label>
      <textarea style="width:500px" id="id_mensaje" name="{{ form.descripcion.name }}" class="form-control" placeholder="Por favor, cuéntanos brevemente tus necesidades o motivo del turno. Ayúdanos a brindarte el mejor servicio." required></textarea>  
    </div>
  <button type="submit" class="btn btn-primary" id="btn-solicitar-turno" disabled>Solicitar Turno</button>
</form>

  <script>
    const form = document.getElementById('solicitar-turno-form');
    const btnSolicitarTurno = document.getElementById('btn-solicitar-turno');

    form.addEventListener('submit', (event) => {
      if (!validateForm()) {
        event.preventDefault();
      }
    });

    form.addEventListener('input', () => {
      validateForm();
    });

    // Validar campos al cargar la página
    validateForm();

    function validateForm() {
      const fecha = document.getElementById('id_fecha').value;
      const tipoAtencion = document.getElementById('id_tipo_atencion').value;
      const descripcion = document.getElementById('id_mensaje').value;

      if (fecha.trim() === '' || tipoAtencion.trim() === '' || descripcion.trim() === '') {
        btnSolicitarTurno.disabled = true;
        return false;
      } else {
        btnSolicitarTurno.disabled = false;
        return true;
      }
    }
  </script>
{% endblock %}
