{% load static %}
<div class="search-container">
    <form method="GET" action="" id='cliente-buscar'>
        <select name='filtro' id='filtro-clientes'>
            <option id= 'cliente_dni' value='cliente_dni'>DNI</option>
            <option id= 'cliente_nombre_apellido' value='cliente_nombre_apellido'>Nombre Apellido</option>
        </select>
        <input type="text" class="search-input" id='consulta-input' name="consulta" placeholder="Buscar...">
        <button type="submit" id="btn-buscar" class="search-button">Buscar</button>
    </form>
</div>

<script>
  var filtroSelect = document.getElementById('filtro-clientes');
  var consultaInput = document.getElementById('consulta-input');
  var btnBuscar = document.getElementById('btn-buscar');
  var errorText = '';

  filtroSelect.addEventListener('change', validarFiltro);
  consultaInput.addEventListener('input', validarConsulta);

  consultaInput.addEventListener('mouseenter', function() {
    if (btnBuscar.disabled) {
      consultaInput.title = errorText;
    }
  });

  consultaInput.addEventListener('mouseleave', function() {
    consultaInput.title = '';
  });

  function validarBusqueda() {
    var isFormValid = true;

    if (filtroSelect.value === 'cliente_dni') {
      var dni = consultaInput.value;
      if (dni.length < 7) {
        errorText = 'Por favor, ingrese un DNI con al menos 7 dígitos.';
        isFormValid = false;
      }
      var numeros = /^[0-9]+$/;
      if (!dni.match(numeros)) {
        errorText = 'Por favor, ingrese un DNI con al menos 7 dígitos.';
        isFormValid = false;
      }
    }

    if (filtroSelect.value === 'cliente_nombre_apellido') {
      var regex = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/;
      if (!regex.test(consultaInput.value)) {
        errorText = 'Por favor, ingrese solo letras (incluyendo acentos) en el campo de consulta.';
        isFormValid = false;
      }
    }

    btnBuscar.disabled = !isFormValid;
  }

  function validarFiltro() {
    validarBusqueda();
  }

  function validarConsulta() {
    validarBusqueda();
  }
</script>
