{% extends 'OhMyDogApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div style="width: 75%; margin: auto; text-align: center; max-width: 800px; margin-top:20px">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Registrar Atención</h5>
        <h5 class="card-title">Mascota: {{perro}}</h5>
      </div>
    </div>
  </div>
  {% if messages %}
  <div style="justify-content: center;">
    <ul class="messages" style="text-align: center; margin-top:10px; padding: 20px; max-width: 900px;">
      {% for message in messages %}
        <div id="msg-{{ message.tags }}" class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
  </ul>
  {% endif %}
  <div style="margin-top:20px">
    <div class="container" style="background-color: #e9ecef; border-radius: 10px; padding: 20px; max-width: 800px;">
      <form method="post" id="registrar-atencion-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success" id="btn-guardar" disabled>Guardar</button>
        <a href='/perros/listar-mascotas-cliente/{{ perro.cliente.user_id }}/' class="btn btn-primary">Cancelar</a>
      </form>
    </div>
  </div>

<script>
  const form = document.getElementById('registrar-atencion-form');
  const btnGuardar = document.getElementById('btn-guardar');
  const pesoMsg = document.getElementById('peso-msg');
  
  form.addEventListener('input', () => {
    const tipo = document.getElementById('id_tipo').value;
    const peso = document.getElementById('id_peso').value;
    const observacion = document.getElementById('id_observacion').value;
  
    if (tipo.trim() !== '' && observacion.trim() !== '') {
      if (isValidWeight(peso)) {
        btnGuardar.disabled = false;
      } else {
        btnGuardar.disabled = true;
      }
    } else {
      btnGuardar.disabled = true;
    }
  });
  
  function isValidWeight(peso) {
  if (peso === '') {
    return false;
  }

  // Verificar si el valor de peso comienza con una coma o punto
  if (peso.startsWith(',') || peso.startsWith('.')) {
    return false;
  }

  const parsedPeso = parseFloat(peso.replace(',', '.'));

  if (!isNaN(parsedPeso) && parsedPeso >= 0.5 && parsedPeso <= 999.99) {
    const decimalPart = parsedPeso % 1;
    const decimalDigits = decimalPart.toFixed(2).split('.')[1];
    if (decimalDigits && decimalDigits.length <= 2) {
      return true;
    } else if (decimalPart === 0) {
      return true;
    }
  }

  return false;
}
  
</script>

  
  
{% endblock %}
