{% extends 'OhMyDogApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 style="text-align: center; margin-top: 10px;">Comunicarse por perro perdido</h1>
<div class="container">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <div id="msg-{{ message.tags }}" class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
  </ul>
  {% endif %}
  <form method="post" action="" style="color: black;" onsubmit="return validarFormulario()">
    {% csrf_token %}
    {{ form|crispy }} 

    <button type="submit" id="btn-enviar" class="btn btn-primary">Enviar </button>
  </form>
</div>

<script>
  var regex = /^[a-zA-Z\s]*$/; // Expresión regular para solo letras y espacios
  var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
  var numeros = /^[0-9]+$/;

  function validarFormulario() {
    var nombre = document.getElementById('id_nombre').value;
    var apellido = document.getElementById('id_apellido').value;
    var mail = document.getElementById('id_email').value;
    var telefono = document.getElementById('id_telefono').value;
    var mensaje = document.getElementById('id_mensaje').value;

    // Validación de campos vacíos
    if (nombre.trim() === '' || apellido.trim() === '' || mail.trim() === '' || telefono.trim() === '' || mensaje.trim() === '') {
      alert('Por favor, completa todos los campos.');
      return false;
    }

    if (telefono.trim().length < 10) {
      alert('El teléfono debe tener al menos 10 dígitos.');
      return false;
    }

    // Validación de campos no numéricos
    if (!regex.test(nombre) || !regex.test(apellido)) {
      alert('Los campos "Nombre" y "Apellido" no pueden contener números.');
      return false;
    }

    // Validar formato de email
    if (!emailPattern.test(mail)) {
      alert('Ingresa un email válido.');
      return false;
    }

    // Validar que el teléfono contenga solo números
    if (!numeros.test(telefono)) {
      alert('El teléfono debe contener solo números.');
      return false;
    }

    return true; // todo ok
  }

  var formInputs = document.querySelectorAll('input[type="text"], input[type="email"], input[type="tel"], textarea');
  var btnEnviar = document.getElementById('btn-enviar');

  formInputs.forEach(function(input) {
    input.addEventListener('input', function() {
      validarCampos();
    });
  });

  function validarCampos() {
    var nombre = document.getElementById('id_nombre') ? document.getElementById('id_nombre').value : '';
    var apellido = document.getElementById('id_apellido') ? document.getElementById('id_apellido').value : '';
    var mail = document.getElementById('id_email') ? document.getElementById('id_email').value : '';
    var telefono = document.getElementById('id_telefono') ? document.getElementById('id_telefono').value : '';
    var mensaje = document.getElementById('id_mensaje').value;

    var isFormValid = true; // Assume form is valid

    if (mensaje.trim() === '') {
      isFormValid = false;
    }

    if ((!document.getElementById('id_nombre') || nombre.trim() === '') &&
      (!document.getElementById('id_apellido') || apellido.trim() === '') &&
      (!document.getElementById('id_email') || mail.trim() === '') &&
      (!document.getElementById('id_telefono') || telefono.trim() === '') &&
      mensaje.trim() === '') {
      // Disable the button if all fields are empty
      isFormValid = false;
    }

    if (telefono.trim() !== '' && (telefono.trim().length < 10 || !numeros.test(telefono))) {
      isFormValid = false;
    }

    if (nombre.trim() !== '' && (!regex.test(nombre) || !regex.test(apellido))) {
      isFormValid = false;
    }

    if (mail.trim() !== '' && !emailPattern.test(mail)) {
      isFormValid = false;
    }

    btnEnviar.disabled = !isFormValid;
  }

  // Validar campos al cargar la página
  validarCampos();
</script>

{% endblock %}

