{% load static %}
<div class="filtro">
  <form method="GET" action="" id='perro-buscar'>
    
    <select class="search-input" id="sexo-select" name="sexo-consulta" onchange="toggleOption('sexo-select',this, 'Sexo')">
      <option value="" selected hidden>Sexo</option>
      {% for value, display_text in opciones_sexo %}
        <option value="{{ value }}">{{ display_text }}</option>
      {% endfor %}
    </select>

    <select class="search-input" id='tamanio-select' name="tamanio-consulta" onchange="toggleOption('tamanio-select',this, 'Tamaño')">
      <option value="" selected hidden>Tamaño</option>
      {% for value, display_text in opciones_tamanios %}
        <option value="{{ value }}">{{ display_text }}</option>
      {% endfor %}
    </select>

    <input type="text" class="search-input" id='raza-input' name="raza-consulta" placeholder="Raza">
    <button type="submit" id="btn-buscar" class="search-button">Buscar</button>
    <a href="{{request.path}}" class="search-button" style="text-decoration: none;color: white;">Mostrar todos</a>
  </form>
</div>

<script>
  var consultaRaza = document.getElementById('raza-input');
  var consultaSexo = document.getElementById('sexo-select');
  var consultaTamanio = document.getElementById('tamanio-select');
  var btnBuscar = document.getElementById('btn-buscar');
  var errorText = '';

  document.addEventListener('DOMContentLoaded', function() {
    var perroBuscarForm = document.getElementById('perro-buscar');
    var currentUrl = new URL(window.location.href);
    perroBuscarForm.action = currentUrl.pathname + currentUrl.search;
    // Setea con los parametros previos
    consultaRaza.value = currentUrl.searchParams.get('raza-consulta') || '';
    consultaSexo.value = currentUrl.searchParams.get('sexo-consulta') || '';
    consultaTamanio.value = currentUrl.searchParams.get('tamanio-consulta') || '';
    toggleOption('sexo-select', consultaSexo, 'Sexo');
    toggleOption('tamanio-select', consultaTamanio, 'Tamaño');
    validarBusqueda();
  });
  consultaRaza.addEventListener('input', validarConsulta);
  consultaSexo.addEventListener('input', validarConsulta);
  consultaTamanio.addEventListener('input', validarConsulta);

  consultaRaza.addEventListener('mouseenter', function() {
    if (btnBuscar.disabled) {
      consultaRaza.title = errorText;
    }
  });

  consultaRaza.addEventListener('mouseleave', function() {
    consultaRaza.title = '';
  });

  consultaSexo.addEventListener('mouseenter', function() {
    if (btnBuscar.disabled) {
      consultaSexo.title = errorText;
    }
  });

  consultaSexo.addEventListener('mouseleave', function() {
    consultaSexo.title = '';
  });

  consultaTamanio.addEventListener('mouseenter', function() {
    if (btnBuscar.disabled) {
      consultaTamanio.title = errorText;
    }
  });

  consultaTamanio.addEventListener('mouseleave', function() {
    consultaTamanio.title = '';
  });

  function validarBusqueda() {
    var isFormValid = true;
    var regex = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/;
    if(consultaRaza.value === '' && consultaSexo.value === '' && consultaTamanio.value  == ''){
      isFormValid = false;
    }

    if(consultaRaza.value != ''){
      if (!regex.test(consultaRaza.value)) {
        errorText = 'Por favor, ingrese solo letras (incluyendo acentos) en el campo de consulta.';
        isFormValid = false;
      }
    }

    btnBuscar.disabled = !isFormValid;
  }

  function validarConsulta() {
    validarBusqueda();
  }

  function toggleOption(id,selectElement, texto) {
    var consultaAtencion = document.getElementById(id)
    var atencionOption = selectElement.querySelector('option[value=""]');
    var selectedOption = selectElement.value;

    if (selectedOption !== '') {
      atencionOption.hidden = false;
      atencionOption.textContent = '-------';
    } else {
      atencionOption.hidden = true;
      atencionOption.textContent = texto;
    }
  }

</script>