{% extends 'OhMyDogApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <section id="showcase-inner" class="py-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="display-4">Mis Postulaciones</h2>
        </div>
      </div>
    </div>
  </section>

<section id="listado" class="py-4">
    <div class="container">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <div id="msg-{{ message.tags }}"class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        </ul>
      {% endif %}
      {% if postulaciones %}
        <div class="card-deck">
        {% include 'filtros_perros.html' %} 
        {% for postulacion in postulaciones %}
          {{postulacion.publicacion_adopcion.id_publicacion.}}
          <div class="col-md-4 mb-4">
              <div class="card h-80">
                <div class="card-body">
                  {% if postulacion.publicacion_adopcion.publicacion.id_perro_publicacion.nombre %}
                  <div class="listing-heading text-center">
                    <h5 class="card-title">{{postulacion.publicacion_adopcion.publicacion.id_perro_publicacion.nombre }}</h5>
                  </div>
                  <hr>
                  {% endif %}
                  <p class="card-text"><strong>Raza:</strong> {{postulacion.publicacion_adopcion.id_publicacion.id_perro_publicacion.raza }}</p>
                  <hr>
                  <p class="card-text"><strong>Tamaño:</strong> {{postulacion.publicacion_adopcion.id_publicacion.id_perro_publicacion.tamanio }}</p>
                  <hr>
                  <p class="card-text"><strong>Sexo:</strong> {{ postulacion.publicacion_adopcion.id_publicacion.id_perro_publicacion.get_sexo_display }}</p>
                  <hr>
                  <p class="card-text"><strong>Color:</strong> {{ postulacion.publicacion_adopcion.id_publicacion.id_perro_publicacion.color }}</p>
                  <hr>
                  <p class="card-text"><strong>Edad:</strong> {{postulacion.publicacion_adopcion.id_publicacion.id_perro_publicacion.edad }}</p>
                  <hr>
                </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
      <div id="sin-resultados"> 
        <p>No hay postulaciones</p>
      </div>
    {% endif %}
  </div>
  <!-- Paginacion -->
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if postulaciones.has_other_pages %}
                <ul class="pagination">
                    {% if postulaciones.has_previous %}
                        <li class='page-item'>
                          <a href="?page={{postulaciones.previous_page_number}}" class="page-link">&laquo;
                          </a> 
                        </li>
                    {% else %}
                        <li class= "page-item disabled">
                          <a class="page-link">&laquo;
                          </a> 
                        </li>
                    {% endif %}
                    {% for i in postulaciones.paginator.page_range %}
                        {% if postulaciones.number == i %}
                            <li class='page-item active'>
                                <a class="page-link">{{i}}</a> 
                            </li>
                        {% else %}
                            <li class='page-item'>
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                        {% endif%}
                    {% endfor %}
                    {% if postulaciones.has_next %}
                        <li class="page-item">
                            <a href="?page={{postulaciones.next_page_number}}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
  </div>
</section>
{% endblock %}
