{% extends 'OhMyDogApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section id="showcase-inner" class="py-5 text-black">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="display-4">Publicaciones de Adopción</h2>
      </div>
    </div>
  </div>
</section>

<section id="listado" class="py-4">
  <div class="container">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <div id="msg-{{ message.tags }}"class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </ul>
    {% endif %}

    {% if adopciones %}
    {% include 'filtros_perros.html' %} 
    <div class="card-deck">
        {% for adopcion in adopciones %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h5 class="card-title">{{ adopcion.id_publicacion.id_perro_publicacion.nombre }}</h5>
                </div>
                <hr>
                <div class="foto-perfil">
                  <img class='foto-perfil' src="{{ adopcion.id_publicacion.id_perro_publicacion.foto.url }}" alt="{{ adopcion.id_publicacion.id_perro_publicacion.nombre }}" class="card-img-top">
                </div>
                <hr>
                <p class="card-text"><strong>Tamaño:</strong> {{ adopcion.id_publicacion.id_perro_publicacion.tamanio }}</p>
                <hr>
                <p class="card-text"><strong>Sexo:</strong> {{ adopcion.id_publicacion.id_perro_publicacion.get_sexo_display }}</p>
                <hr>
                <p class="card-text"><strong>Color:</strong> {{ adopcion.id_publicacion.id_perro_publicacion.color }}</p>
                <hr>
                <p class="card-text"><strong>Edad:</strong> {{ adopcion.id_publicacion.id_perro_publicacion.edad }}</p>
                <hr>
                <p class="card-text"><strong>Raza:</strong> {{ adopcion.id_publicacion.id_perro_publicacion.raza }}</p>
                <hr>
                <p class="card-text"><strong>Motivo de adopción:</strong> {{ adopcion.motivo_adopcion }}</p>
                <hr>
                <p class="card-text"><strong>Origen de adopción:</strong> {{ adopcion.origen }}</p>

                {% if adopcion.id_publicacion.id != request.user.id %}
                  <form action="{% url 'postularse' adopcion.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Postularse</button>
                  </form>
                {% endif %}
              </div> 
            </div>
          </div>
        {% endfor %}
    </div> 
    {% else %}
    <div id="sin-resultados">
      <!-- Mostrar el mensaje de "No hay resultados" -->
      <p>No hay perros en adopción.</p>
    </div>
    {% endif %}
  </div>
<!-- Paginacion -->
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              {% if adopciones.has_other_pages %}
                  <ul class="pagination">
                      {% if adopciones.has_previous %}
                          <li class='page-item'>
                            <a href="?page={{adopciones.previous_page_number}}" class="page-link">&laquo;
                            </a> 
                          </li>
                      {% else %}
                          <li class= "page-item disabled">
                            <a class="page-link">&laquo;
                            </a> 
                          </li>
                      {% endif %}
                      {% for i in adopciones.paginator.page_range %}
                          {% if adopciones.number == i %}
                              <li class='page-item active'>
                                  <a class="page-link">{{i}}</a> 
                              </li>
                          {% else %}
                              <li class='page-item'>
                                  <a href="?page={{i}}" class="page-link">{{i}}</a>
                              </li>
                          {% endif%}
                      {% endfor %}
                      {% if adopciones.has_next %}
                          <li class="page-item">
                              <a href="?page={{adopciones.next_page_number}}" class="page-link">&raquo;</a>
                          </li>
                      {% else %}
                          <li class="page-item disabled">
                              <a class="page-link">&raquo;</a>
                          </li>
                      {% endif %}
                  </ul>
              {% endif %}
          </div>
      </div>
  </div>
</section>
{% endblock %}
