{% extends "OhMyDogApp/base.html" %}

{% load static %}

{% block content %}
<style>
    .alert-info {
        --bs-alert-color: var(--bs-info-text-emphasis);
        --bs-alert-bg: var(--bs-info-bg-subtle);
        --bs-alert-border-color: var(--bs-info-border-subtle);
        --bs-alert-link-color: var(--bs-info-text-emphasis);
    }
    .alert-pending {
        --bs-alert-color: var(--bs-warning-text-emphasis);
        --bs-alert-bg: #f5e2a5;
        --bs-alert-border-color: var(--bs-warning-border-subtle);
        --bs-alert-link-color: var(--bs-warning-text-emphasis);
    }
</style>

<section id="showcase-inner" class="py-4 text-black">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="display-4">Listado de Mascotas Recomendadas</h2>
        </div>
      </div>
    </div>
</section>
<!-- Listado -->
{% if messages %}
    <div class="container">
        <ul class="messages">
            {% for message in messages %}
            <div id="msg-{{ message.tags }}" class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if recomendados %}
    <section id="listado" class="py-4">
        <div class="container">
            <div class="row">
                {% for recomendado in recomendados %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card listing-preview">
                            <div class="card-body">
                                <div class="listing-heading text-center">
                                    <h5 class="card-title">{{ recomendado.publicacion.id_perro_publicacion.nombre }}</h5>
                                </div>
                                <hr>
                                <div class="foto-cruza">
                                    <img class='foto-cruza' src="{{ recomendado.publicacion.id_perro_publicacion.foto.url }}" alt="foto cruza"> 
                                </div> 
                                <hr>
                                <p class="card-text" id="edad"><i class="fa-solid fa-calendar-days" style="color: #e4a64e;"></i> Edad: {{ recomendado.publicacion.id_perro_publicacion.edad }}</p>
                                <hr>
                                <p class="card-text"><i class="fa-solid fa-dog" style="color: #e4a64e;"></i> Raza: {{ recomendado.publicacion.id_perro_publicacion.raza }}</p>
                                <hr>
                                <p class="card-text"><i class="fa-solid fa-ruler-vertical"style="color: #e4a64e;"></i> Tamaño: {{ recomendado.publicacion.id_perro_publicacion.tamanio }}</p>
                                <hr>
                                <p class="card-text"><i class="fa-solid fa-dog" style="color: #e4a64e;"></i> Sexo: {{ recomendado.publicacion.id_perro_publicacion.get_sexo_display }}</p>
                                {% if recomendado.publicacion.id_perro_publicacion.sexo == 'H' %}
                                <hr>
                                <p class="card-text"><i class="fa-solid fa-calendar-days" style="color: #e4a64e;"></i> Per&iacute;odo Celo: {{ recomendado.publicacion.descripcion }}</p>
                                {% endif%}
                                <hr>
                                <p class="card-text"><i class="fa-solid fa-palette" style="color: #e4a64e;"></i> Color: {{ recomendado.publicacion.id_perro_publicacion.color }}</p>
                                <hr>
                                {% if recomendado.tipo == 'match' %}
                                    <div class="alert alert-info">¡Coincidencia!</div>
                                {% elif recomendado.tipo == 'postulaciones' %}
                                    <div class="alert alert-pending">Ya te postulaste a esta mascota</div>
                                {% else %}
                                    <a href="{% url 'Postularse_cruza' publicacion_a_postular=recomendado.publicacion.id postulante=publicacion.id %}" class="btn btn-primary btn-block">Postularse</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div> 
        <!-- Paginacion -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {% if recomendados.has_other_pages %}
                    <ul class="pagination">
                        {% if recomendados.has_previous %}
                            <li class='page-item'>
                            <a href="?page={{recomendados.previous_page_number}}" class="page-link">&laquo;
                            </a> 
                            </li>
                        {% else %}
                            <li class= "page-item disabled">
                            <a class="page-link">&laquo;
                            </a> 
                            </li>
                        {% endif %}
                        {% for i in recomendados.paginator.page_range %}
                            {% if recomendados.number == i %}
                                <li class='page-item active'>
                                    <a class="page-link">{{i}}</a> 
                                </li>
                            {% else %}
                                <li class='page-item'>
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if recomendados.has_next %}
                            <li class="page-item">
                                <a href="?page={{recomendados.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </section>
{% else %}
    <div id="sin-resultados">
        <p>No hay recomendaciones disponibles</p>
    </div>
{% endif %}

<script>
    function calcular_edad(edad) {
        var edadMeses = parseInt(edad);
        if (edadMeses === 1) {
            return edadMeses + " mes";
        } else if (edadMeses > 11) {
            var edadAños = Math.floor(edadMeses / 12);
            if (edadAños === 1) {
                return edadAños + " año";
            } else {
                return edadAños + " años";
            }
        } else {
            return edadMeses + " meses";
        }
    }
    window.onload = function() {
        var edadElements = document.querySelectorAll('#edad');
        for (var i = 0; i < edadElements.length; i++) {
            var edadElement = edadElements[i];
            var edadValue = edadElement.innerText.trim().replace('Edad:', '');
            var calculatedEdad = calcular_edad(edadValue);
            var iconElement = document.createElement('i');
            iconElement.className = 'fa-solid fa-calendar-days';
            iconElement.style.color = '#e4a64e';
            edadElement.innerHTML = '';
            edadElement.appendChild(iconElement);
            edadElement.appendChild(document.createTextNode(' Edad: ' + calculatedEdad));
        }
    };
</script>    

{% endblock %}