{% extends 'OhMyDogApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
   
<h1 style="text-align: center; margin-top: 10px;">Registrar Perro en Servicio de Cruza</h1>
<h4 style="text-align: center; margin-bottom: 10px;">Completá el formulario para registrar un perro en el Servicio de Cruza</h4>

<div class='container'>
  {% for message in messages %}
      <div id="msg-{{ message.tags }}"class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
  {% endfor %}
</div>
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <div style="width: 75%; margin: auto;">
      {{ form|crispy }}
      <button type="submit" id="btn-registrar" class="btn btn-primary">Registrar</button>
    </div>
</form>

<script>
    function validarFormulario() {
        var nombre = document.getElementById('id_nombre').value;
        var raza = document.getElementById('id_raza').value;
        var color = document.getElementById('id_color').value;
        var tamanio = document.getElementById('id_tamanio').value;
        var edad = document.getElementById('id_edad').value;
        var sexo = document.getElementById('id_sexo').value;

        
        // Validación de campos vacíos
        if (edad.trim() === '' || raza.trim() === '' || color.trim() === '' || tamanio.trim() === '' || sexo.trim() === '') {
            alert('Por favor, completa todos los campos.');
            return false;
        }
        
        // Validación de campos no numéricos
        var regex = /^[a-zA-Z\s]*$/; // Expresión regular para solo letras y espacios
        if (!regex.test(nombre) || !regex.test(raza) || !regex.test(color)) {
            alert('Los campos "Nombre", "Raza" y "Color" no pueden contener números.');
            return false;
        }
        if (sexo === 'H' && periodoCelo.trim() === '') {
            alert('Por favor, completa el campo "Periodo de Celo" para perros hembra.');
            return false;
        }
        return true; // todo ok
    }
    
    // Validar campos en tiempo real
    var formInputs = document.querySelectorAll('input[type="text"], select');
    var btnRegistrar = document.getElementById('btn-registrar');
    var periodoCeloField = document.getElementById('id_periodo_celo');
    var periodoCeloLabel = document.querySelector('label[for="id_periodo_celo"]');
    var sexoField = document.getElementById('id_sexo');

    formInputs.forEach(function (input) {
        input.addEventListener('input', function () {
        validarCampos();
        });
    });

    sexoField.addEventListener('change', function () {
        validarCampos();
    });
    periodoCeloField.addEventListener('input', function () {
        validarCampos();
    });
    
    function validarCampos() {
        var nombre = document.getElementById('id_nombre').value;
        var raza = document.getElementById('id_raza').value;
        var color = document.getElementById('id_color').value;
        var tamanio = document.getElementById('id_tamanio').value;
        var edad = document.getElementById('id_edad').value;
        var sexo = document.getElementById('id_sexo').value;
    
        var regex = /^[a-zA-Z\s]*$/; // Expresión regular para solo letras y espacios
    
        var isFormValid =
            nombre.trim() !== '' &&  
            regex.test(nombre) &&
            edad.trim() !== '' &&
            raza.trim() !== '' &&
            tamanio.trim() !== '' &&
            regex.test(raza) &&
            color.trim() !== '' &&
            regex.test(color) &&
            sexo.trim() !== '';

        if (sexo === 'H') {
            periodoCeloField.style.display = 'block';
            periodoCeloLabel.innerHTML = 'Periodo de Celo:<span class="required">*</span>';
            if(periodoCeloField.value.trim() === ''){
                isFormValid=false;
            }
            else{
                isFormValid=true;
            }
        } else {
            periodoCeloField.style.display = 'none';
            periodoCeloLabel.innerHTML = ''; 
        }

        btnRegistrar.disabled = !isFormValid;
    }
    
    // Validar campos al cargar la página
    validarCampos();
</script>

{% endblock %}