<footer class="footer text-center text-lg-start text-muted">
    <div class="container">
    <!-- Grid row -->
        <div class="row mt-3" style="color:white">
        <!-- Grid column -->
            <div class="ubicacion valign-text-middle col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <p><i class="fa-solid fa-home"></i> Buenos Aires, La Plata</p>
            </div>

            <div class="mail valign-text-middle col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <p><i class="fa-solid fa-envelope"></i> ohmydog@gmail.com</p>
            </div>

            <div class="phone valign-text-middle col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <p><i class="fa-solid fa-phone"></i> +221 6036628</p>
            </div>
            
            <div class="ejtech valign-text-middle col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <p><i class="fa-solid fa-copyright"></i> EJTech</p>
            </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Section: Links  -->
</footer>