{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg custom-navbar" style='background-color:#80befb; height: 80x; color:white'>
    <a class="navbar-brand" style="color:white" href="{% url 'Home' %}">
      <img src="{% static 'OhMyDogApp/img/logo.png' %}" width="55" height="35" class="d-inline-block align-top" alt="Logo">
      ¡Oh My Dog!
    </a>    
    <!-- Toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav" style="font-size:17px">
      <ul class="navbar-nav">
        
        <li class="nav-item {% if request.path == '/' %}current_page_item{%endif %}">
          <a class="nav-link" href="{% url 'Home' %}">Inicio</a>
        </li>
         <!-- Mapa Paseadores/cuidadores/guarderia -->
        <li class="nav-item {% if request.path == '/servicios/mapa/' %}current_page_item{% endif %}">
          <a class="nav-link" href="{% url 'Mapa' %}">Mapa</a>
        </li> 
        
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <!-- Dropdown Clientes -->
                <li class="nav-item dropdown {% if request.path == '/usuarios/registrar_cliente/' or request.path == '/usuarios/clientes/' or request.path|slice:":7" == '/perros'%}current_page_item{%endif %}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clientes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'Registro' %}">Registrar Cliente</a></li>
                        <li><a class="dropdown-item" href="{% url 'Clientes' %}">Ver Clientes</a></li>
                    </ul>
                </li>
                <!-- Dropdown Turnos -->
                <li class="nav-item dropdown {% if request.path == '/turnos/listar_turnos_pendientes/' or request.path == '/turnos/listar_turnos_confirmados/' %}current_page_item{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Turnos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'listar_turnos_pendientes' %}">Pendientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'listar_turnos_confirmados' %}">Confirmados</a></li>
                    </ul>
                </li>
                <!-- Servicio paseador/etc  -->
                <li class="nav-item dropdown {% if request.path == '/usuarios/registrar_personal/' %}current_page_item{%endif %}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Personal
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'Registrar_personal' %}">Registrar Personal</a></li>
                        <li><a class="dropdown-item" href="{% url 'Listar_personal' %}">Ver Personal</a></li>
                    </ul>
                </li>
            {% else %}
                <!-- Mascotas cliente -->
                <li class="nav-item {% if request.path == '/perros/listar_mascotas/' %}current_page_item{%endif %}">
                    <a class="nav-link" href="{% url 'perros:Listar_mascotas_cliente' user.id %}">Ver Mascotas</a>
                </li>  
                <!-- Turno -->
                <li class="nav-item {% if request.path == '/turnos/solicitar_turno/' %}current_page_item{%endif %}">
                    <a class="nav-link" href="{% url 'solicitar_turno' %}">Solicitar turno</a>
                </li>    
            {% endif %}
        <!-- Dropdown Publicaciones -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Publicaciones
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Adopción</a></li>
                <li><a class="dropdown-item" href="#">Perdidos</a></li>
                <li><a class="dropdown-item" href="#">Encontrados</a></li>
            </ul>
        </li>
        <!-- Perfil -->
        <li class="nav-item {% if request.path == '/usuarios/ver_perfil/' %}current_page_item{%endif %}">
            <a class="nav-link" href="{% url 'Ver_perfil' %}">Mi Perfil</a>
        </li>    
        <!-- Logout -->
        <li class="nav-item {% if request.path == '/usuarios/logout/' %}current_page_item{%endif %}">
            <a class="nav-link" href="{% url 'Logout' %}"> Cerrar Sesión
              <!-- <i class="fa-solid fa-right-to-bracket"></i> -->
            </a>
        </li>
      </ul>
    {% else %}
      <!-- Login -->
      <li class="nav-item {% if request.path == '/usuarios/login/' %}current_page_item{% endif %}">
        <a class="btn btn-primary" href="{% url 'Login' %}">
          <i class="fa-solid fa-right-to-bracket"></i>
        </a>
      </li>
    </div>
    {% endif %} 
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var dropdowns = document.querySelectorAll(".dropdown-toggle");
    var dropdownMenus = document.querySelectorAll(".dropdown-menu");

    dropdowns.forEach(function(dropdown) {
      dropdown.addEventListener("click", function(event) {
        event.preventDefault();
        event.stopPropagation();
        var isActive = this.classList.contains("show");

        closeDropdownMenus();

        if (!isActive) {
          this.classList.add("show");
          var dropdownMenu = this.nextElementSibling;
          dropdownMenu.classList.add("show");
        }
      });
    });

    document.addEventListener("click", function() {
      closeDropdownMenus();
    });

    function closeDropdownMenus() {
      dropdowns.forEach(function(dropdown) {
        dropdown.classList.remove("show");
      });

      dropdownMenus.forEach(function(dropdownMenu) {
        dropdownMenu.classList.remove("show");
      });
    }
  });
</script>