{% extends "OhMyDogApp/base.html" %}

{% load static %}

{% block content %}

<h1>Perfil del Usuario</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div id="msg"class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
{% endif %}
<section id="listado" class="py-4">
    <div class="container" >
        <div class="card-deck">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h5 class="card-title">Perfil</h5>
                        </div>
                        <p class="card-text text-wrap"><i class="fa-solid fa-envelope" style="color: #e4a64e;"></i> Email: {{ usuario.email }}</p>
                        <hr>
                        <p class="card-text"><i class="fa-solid fa-user" style="color: #e4a64e;"></i> Nombre: {{ usuario.nombre }}</p>
                        <hr>
                        <p class="card-text"><i class="fa-solid fa-user" style="color: #e4a64e;"></i> Apellido: {{ usuario.apellido }}</p>
                        <hr>
                        <p class="card-text"><i class="fa-solid fa-id-card" style="color: #e4a64e;"></i> Dni: {{ usuario.dni }}</p>
                        <hr>
                        <p class="card-text"><i class="fa-solid fa-phone-volume" style="color: #e4a64e;"></i> Teléfono: {{ usuario.telefono }}</p>
                        <hr>
                        <a href="{% url 'Editar_perfil' %}" class="btn btn-primary">Editar perfil</a>
                        <a href="/usuarios/cambiar_contrasenia" class="btn btn-primary">Cambiar Clave</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>

{% endblock %}