{% extends "OhMyDogApp/base.html" %}

{% load static %}

{% block content %}

<h1>Perfil del Usuario</h1>

{% if user.is_staff %}
<p>Email: {{ usuario.email }}</p>
{% else %}
<p>Nombre: {{ usuario.cliente.nombre }}</p>
<p>Apellido: {{ usuario.cliente.apellido }}</p>
<p>DNI: {{ usuario.cliente.dni }}</p>
<p>Teléfono: {{ usuario.cliente.telefono }}</p>
<a href="{% url 'Editar_perfil' %}" class="btn btn-primary">Editar perfil</a>
<a href="/usuarios/cambiar_contrasenia" class="btn btn-primary">Cambiar Clave</a>
{% endif %}
{% endblock %}