<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'OhMyDogApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/803ea84c99.js" crossorigin="anonymous"></script>

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
<link href="{% static 'OhMyDogApp/css/gestion.css' %}" rel="stylesheet">

    <title>Veterinaria ¡Oh My Dog!</title>
<style>
  .custom-navbar .navbar-nav .nav-link {
  color: #FFFFFF; /* Cambiar el color del texto a blanco */
  font-size: 17px;
}

.custom-navbar .navbar-nav .current_page_item > .nav-link {
  color: #000000; /* Cambiar el color del texto a negro solo cuando está activo */
}

  </style>
</head>

<body>

  <!-- Nav Bar -->
  {% include 'OhMyDogApp/partials/navbar.html' %} 
  
  <!-- contenido -->
  <div class="contenido">
  {% block content %}
  
  {% endblock %}
  </div>


  <!-- Footer -->
  {% include 'OhMyDogApp/partials/footer.html' %} 

  <!-- Bootstrap -->
  <script src="{% static 'OhMyDogApp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'OhMyDogApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
</body>


</html>